Repository msgphp/msgphp, pull requests merged in 2018-03, with the labels that each got.

#113 Introducing api connection.
  src/User/Infra/Security/Jwt/SecurityUserProvider.php
  src/User/composer.json
  src/UserBundle/DependencyInjection/Extension.php
  src/UserBundle/Resources/config/security.php
Labels: infrastructure, user domain

#118 added user attributes domain infra
  src/User/Command/AddUserAttributeValueCommand.php
  src/User/Command/ChangeUserAttributeValueCommand.php
  src/User/Command/DeleteUserAttributeValueCommand.php
  src/User/Command/Handler/AddUserAttributeValueHandler.php
  src/User/Command/Handler/ChangeUserAttributeValueHandler.php
  src/User/Command/Handler/DeleteUserAttributeValueHandler.php
  src/User/Event/UserAttributeValueAddedEvent.php
  src/User/Event/UserAttributeValueChangedEvent.php
  src/User/Event/UserAttributeValueDeletedEvent.php
  src/User/Infra/Doctrine/Repository/UserAttributeValueRepository.php
  src/User/Infra/Doctrine/Resources/dist-mapping/User.Entity.UserAttributeValue.orm.xml
  src/User/Repository/UserAttributeValueRepositoryInterface.php
Labels: user domain

#116 simplify jwt user provider
  src/User/Infra/Security/Jwt/SecurityUserProvider.php
  src/User/Infra/Security/SecurityUserProvider.php
  src/User/Tests/Infra/Security/SecurityUserProviderTest.php
Labels: infrastructure, user domain

#120 added user attribute values field
  src/Eav/Entity/Fields/AttributesField.php
  src/Eav/Tests/Entity/Fields/AttributeValueFieldTest.php
  src/Eav/Tests/Entity/Fields/AttributesFieldTest.php
  src/Eav/Tests/Infra/Doctrine/EntityFieldsMappingTest.php
  src/User/Entity/Fields/AttributeValuesField.php
  src/User/Infra/Doctrine/EntityFieldsMapping.php
  src/User/Tests/Entity/Fields/AttributeValuesFieldTest.php
  src/User/Tests/Entity/Fields/EmailsFieldTest.php
  src/User/Tests/Entity/Fields/RoleFieldTest.php
  src/User/Tests/Entity/Fields/UserFieldTest.php
Labels: eav domain, user domain

#119 bundle installation cookbook
  docs/cookbook/bundle-installation.md
  docs/index.md
  mkdocs.yml
  src/EavBundle/DependencyInjection/Configuration.php
Labels: docs

#125 setup domain projections
  docs/ddd/identities.md
  docs/domain/architecture.md
  docs/domain/eav.md
  docs/domain/user.md
  docs/index.md
  docs/infrastructure/api-platform.md
  docs/infrastructure/elasticsearch.md
  docs/infrastructure/psr-container.md
  docs/infrastructure/symfony-console.md
  docs/projection/document-transformers.md
  docs/projection/documents.md
  docs/projection/models.md
  docs/projection/repositories.md
  docs/projection/synchronization.md
  docs/projection/type-registry.md
  mkdocs.yml
  src/Domain/Infra/ApiPlatform/DomainProjectionDataProvider.php
  src/Domain/Infra/Console/Command/InitializeDomainProjectionTypesCommand.php
  src/Domain/Infra/Console/Command/SynchronizeDomainProjectionsCommand.php
  src/Domain/Infra/Elasticsearch/DomainProjectionRepository.php
  src/Domain/Infra/Elasticsearch/DomainProjectionTypeRegistry.php
  src/Domain/Infra/Psr/DoctrineAwareClassContainer.php
  src/Domain/Infra/Psr/DomainProjectionDocumentTransformer.php
  src/Domain/Projection/DomainProjectionDocument.php
  src/Domain/Projection/DomainProjectionDocumentTransformerInterface.php
  src/Domain/Projection/DomainProjectionInterface.php
  src/Domain/Projection/DomainProjectionRepositoryInterface.php
  src/Domain/Projection/DomainProjectionSynchronization.php
  src/Domain/Projection/DomainProjectionTypeRegistryInterface.php
  src/Domain/composer.json
Labels: base domain, infrastructure

#126 tweak ProjectionDocument
  docs/ddd/factory/entity-aware.md
  docs/projection/documents.md
  src/Domain/Projection/DomainProjectionDocument.php
Labels: base domain

#127 fix class mapping config
  src/Domain/Infra/DependencyInjection/ContainerHelper.php
  src/UserBundle/DependencyInjection/Configuration.php
  src/UserBundle/DependencyInjection/Extension.php
Labels: bug, user domain

#129 smoke test bundles
  .travis.yml
  .travis/smoke-test
  bin/create-project
  bin/smoke-test
  src/Domain/Infra/DependencyInjection/ConfigHelper.php
  src/UserBundle/DependencyInjection/Configuration.php
  src/UserBundle/DependencyInjection/Extension.php
Labels: continuous integration

#130 validate ORM schema
  bin/smoke-test-bundles
  src/UserBundle/DependencyInjection/Extension.php
Labels: continuous integration

#131 tweak build
  .travis.yml
  bin/create-project
  bin/phpunit-package
  bin/smoke-test-bundles
Labels: continuous integration
