Repository msgphp/msgphp, pull requests merged in 2018-07, with the labels that each got.

#163 update lexik/jwt-authentication-bundle to 2.5@stable
  phpstan.neon
  src/User/Infra/Security/Jwt/SecurityUserProvider.php
  src/User/composer.json
  src/UserBundle/Resources/config/security.php
  src/UserBundle/composer.json
Labels: bundle, infrastructure, user domain

#165 require password salt upfront
  src/User/Entity/Credential/EmailSaltedPassword.php
  src/User/Entity/Credential/NicknameSaltedPassword.php
  src/UserBundle/Maker/UserMaker.php
Labels: bundle, user domain

#166 update make:user to use Symfony Messenger
  UPGRADE-0.5.md
  docs/.refs/entities.php
  docs/cookbook/configuring-a-message-bus.md
  docs/cookbook/configuring-doctrine-orm.md
  docs/ddd/entities.md
  docs/index.md
  docs/reference/entities.md
  mkdocs.yml
  src/Domain/Infra/DependencyInjection/BundleHelper.php
  src/Domain/Infra/DependencyInjection/Compiler/ResolveDomainPass.php
  src/Domain/Infra/DependencyInjection/ContainerHelper.php
  src/Domain/Infra/DependencyInjection/ExtensionHelper.php
  src/Domain/Message/DomainMessageBus.php
  src/Domain/Message/NoopMessageHandler.php
  src/User/Infra/Security/SecurityUserProvider.php
  src/UserBundle/Maker/UserMaker.php
  src/UserBundle/Resources/skeleton/config.php
  src/UserBundle/Resources/skeleton/controller/ForgotPasswordController.php
  src/UserBundle/Resources/skeleton/controller/RegisterController.php
  src/UserBundle/Resources/skeleton/controller/ResetPasswordController.php
  src/UserBundle/Resources/skeleton/messenger.php
  src/UserBundle/Resources/skeleton/security.php
  src/UserBundle/Resources/skeleton/service/ClassContextElementFactory.php
  src/UserBundle/composer.json
Labels: bundle, user domain

#167 Configure a default logout procedure
  src/UserBundle/Maker/UserMaker.php
  src/UserBundle/Resources/skeleton/routes.php
  src/UserBundle/Resources/skeleton/security.php
  src/UserBundle/Resources/skeleton/securityLogout.php
  src/UserBundle/Resources/skeleton/template/profile.html.php
Labels: bundle, user domain

#175 add role commands
  docs/reference/messages.md
  src/User/Command/CreateRoleCommand.php
  src/User/Command/DeleteRoleCommand.php
  src/User/Command/Handler/CreateRoleHandler.php
  src/User/Command/Handler/DeleteRoleHandler.php
  src/User/Event/RoleCreatedEvent.php
  src/User/Event/RoleDeletedEvent.php
  src/User/Infra/Console/Command/CreateRoleCommand.php
  src/User/Infra/Console/Command/DeleteRoleCommand.php
  src/User/Infra/Console/Command/RoleAwareTrait.php
  src/User/Infra/Console/Command/RoleCommand.php
  src/User/Infra/Console/Command/UserRoleCommand.php
  src/UserBundle/DependencyInjection/Compiler/CleanupPass.php
  src/UserBundle/DependencyInjection/Configuration.php
  src/UserBundle/DependencyInjection/Extension.php
Labels: infrastructure, user domain
