Repository msgphp/msgphp, pull requests merged in 2018-08, with the labels that each got.

#179 add root namespace
  composer.json
  src/Domain/Command/EventSourcingCommandHandlerTrait.php
  src/Domain/DomainCollection.php
  src/Domain/DomainId.php
  src/Domain/DomainIdentityHelper.php
  src/Domain/Event/DomainEventHandlerTrait.php
  src/Domain/Exception/UnknownDomainEventException.php
  src/Domain/Factory/DomainObjectFactory.php
  src/Domain/Factory/EntityAwareFactory.php
  src/Domain/Infra/ApiPlatform/ProjectionDataProvider.php
  src/Domain/Infra/Config/ClassMappingNode.php
  src/Domain/Infra/Config/ClassMappingNodeDefinition.php
  src/Domain/Infra/Console/Context/ClassContextFactory.php
  src/Domain/Infra/DependencyInjection/Compiler/ResolveDomainPass.php
  src/Domain/Infra/DependencyInjection/ConfigHelper.php
  src/Domain/Infra/DependencyInjection/ContainerHelper.php
  src/Domain/Infra/DependencyInjection/ExtensionHelper.php
  src/Domain/Infra/Doctrine/DomainEntityRepositoryTrait.php
  src/Domain/Infra/Doctrine/DomainIdType.php
  src/Domain/Infra/Doctrine/DomainIdentityMapping.php
  src/Domain/Infra/Doctrine/EntityAwareFactory.php
  src/Domain/Infra/Elasticsearch/ProjectionTypeRegistry.php
  src/Domain/Infra/InMemory/DomainEntityRepositoryTrait.php
  src/Domain/Infra/InMemory/DomainIdentityMapping.php
  src/Domain/Infra/InMemory/GlobalObjectMemory.php
  src/Domain/Infra/InMemory/ObjectFieldAccessor.php
  src/Domain/Infra/Uuid/DomainId.php
  src/Domain/Message/DomainMessageBus.php
  src/Domain/Tests/AbstractDomainCollectionTest.php
  src/Domain/Tests/AbstractDomainEntityRepositoryTraitTest.php
  src/Domain/Tests/DomainCollectionTest.php
  src/Domain/Tests/DomainIdentityHelperTest.php
  src/Domain/Tests/Entity/Fields/EnabledFieldTest.php
  src/Domain/Tests/Factory/ClassMethodResolverTest.php
  src/Domain/Tests/Infra/Doctrine/DomainEntityRepositoryTraitTest.php
  src/Domain/Tests/Infra/Doctrine/EntityManagerTrait.php
  src/Domain/Tests/Infra/Doctrine/Hydration/ScalarHydratorTest.php
  src/Domain/Tests/Infra/Doctrine/Hydration/SingleScalarHydratorTest.php
  src/Domain/Tests/Infra/Doctrine/ObjectFieldMappingsTest.php
  src/Domain/Tests/Infra/InMemory/GlobalObjectMemoryTest.php
  src/Eav/Entity/AttributeValue.php
  src/Eav/Infra/Doctrine/Repository/EntityAttributeValueRepositoryTrait.php
  src/Eav/Tests/Infra/Doctrine/ObjectFieldMappingsTest.php
  src/EavBundle/DependencyInjection/Configuration.php
  src/EavBundle/DependencyInjection/Extension.php
  src/User/Entity/Features/AbstractCredential.php
  src/User/Infra/Doctrine/Event/UsernameListener.php
  src/User/Infra/Doctrine/Repository/UsernameRepository.php
  src/User/Infra/Form/Type/HashedPasswordType.php
  src/User/Infra/Security/SecurityUserProvider.php
  src/User/Tests/Infra/Doctrine/ObjectFieldMappingsTest.php
  src/UserBundle/DependencyInjection/Configuration.php
  src/UserBundle/DependencyInjection/Extension.php
  src/UserBundle/Maker/UserMaker.php
Labels: cs / sa

#178 tweak attribute value checksum
  UPGRADE-0.6.md
  src/Eav/Entity/AttributeValue.php
  src/Eav/Infra/Doctrine/Repository/EntityAttributeValueRepositoryTrait.php
  src/Eav/Tests/Entity/AttributeValueTest.php
  src/Eav/Tests/Entity/Features/EntityAttributeValueTest.php
Labels: eav domain

#180 Add annotations to user costraints
  src/User/Infra/Validator/ExistingUsername.php
  src/User/Infra/Validator/UniqueUsername.php
Labels: infrastructure, user domain

#181 Add constraint error names
  src/User/Infra/Validator/ExistingUsername.php
  src/User/Infra/Validator/UniqueUsername.php
Labels: infrastructure, user domain

#183 add DomainCollectionFactory::createFromCallable
  UPGRADE-0.6.md
  docs/ddd/collections.md
  docs/ddd/factory/static.md
  docs/ddd/identifiers.md
  docs/ddd/identity-mapping.md
  docs/ddd/repositories.md
  src/Domain/Factory/DomainCollectionFactory.php
  src/Domain/Tests/Factory/DomainCollectionFactoryTest.php
Labels: base domain
