Repository msgphp/msgphp, pull requests merged in 2019-07, with the labels that each got.

#339 [BC break] Revised AttributeValue checksum generation
  src/Eav/AttributeValue.php
Labels: eav

#340 Removed "msgphp.messenger.console_message_receiver" service
  docs/cookbook/configuring-symfony-messenger.md
  src/Domain/Infrastructure/Console/MessageReceiver.php
  src/Domain/Infrastructure/DependencyInjection/BundleHelper.php
  src/Domain/Infrastructure/Messenger/Middleware/ConsoleMessageReceiverMiddleware.php
  src/Domain/Message/MessageReceiving.php
  src/User/Infrastructure/Console/Command/AddUserRoleCommand.php
  src/User/Infrastructure/Console/Command/ChangeUserCredentialCommand.php
  src/User/Infrastructure/Console/Command/ConfirmUserCommand.php
  src/User/Infrastructure/Console/Command/CreateRoleCommand.php
  src/User/Infrastructure/Console/Command/CreateUserCommand.php
  src/User/Infrastructure/Console/Command/DeleteRoleCommand.php
  src/User/Infrastructure/Console/Command/DeleteUserCommand.php
  src/User/Infrastructure/Console/Command/DeleteUserRoleCommand.php
  src/User/Infrastructure/Console/Command/DisableUserCommand.php
  src/User/Infrastructure/Console/Command/EnableUserCommand.php
  src/User/Infrastructure/Console/Command/RoleCommand.php
  src/User/Infrastructure/Console/Command/UserCommand.php
  src/User/Infrastructure/Console/UserDefinition.php
  src/UserBundle/Resources/skeleton/messenger.tpl.php
Labels: bundle, domain, infrastructure

#343 Prevent username guessing
  src/UserBundle/Resources/skeleton/controller/ForgotPasswordController.tpl.php
  src/UserBundle/Resources/skeleton/form/ForgotPasswordType.tpl.php
Labels: bundle, feature, user

#344 [BC break] Support Elasticsearch 7
  composer.json
  docs/infrastructure/api-platform.md
  docs/infrastructure/elasticsearch.md
  docs/infrastructure/symfony-console.md
  docs/projection/document-transformers.md
  docs/projection/models.md
  docs/projection/repositories.md
  docs/projection/synchronization.md
  docs/projection/type-registry.md
  mkdocs.yml
  src/Domain/Infrastructure/ApiPlatform/Paginator.php
  src/Domain/Infrastructure/ApiPlatform/ProjectionDataProvider.php
  src/Domain/Infrastructure/Console/Command/InitializeProjectionTypesCommand.php
  src/Domain/Infrastructure/Console/Command/SynchronizeProjectionsCommand.php
  src/Domain/Infrastructure/Elasticsearch/DocumentMappingProvider.php
  src/Domain/Infrastructure/Elasticsearch/ProjectionRepository.php
  src/Domain/Infrastructure/Elasticsearch/ProjectionTypeRegistry.php
  src/Domain/Projection/Command/DeleteProjection.php
  src/Domain/Projection/Command/Handler/DeleteProjectionDocumentHandler.php
  src/Domain/Projection/Command/Handler/DeleteProjectionHandler.php
  src/Domain/Projection/Command/Handler/SaveProjectionHandler.php
  src/Domain/Projection/Command/SaveProjection.php
  src/Domain/Projection/Command/SaveProjectionDocument.php
  src/Domain/Projection/Event/ProjectionDeleted.php
  src/Domain/Projection/Event/ProjectionDocumentDeleted.php
  src/Domain/Projection/Event/ProjectionSaved.php
  src/Domain/Projection/ProjectionDocument.php
  src/Domain/Projection/ProjectionDocumentProvider.php
  src/Domain/Projection/ProjectionDocumentTransformer.php
  src/Domain/Projection/ProjectionRepository.php
  src/Domain/Projection/ProjectionSynchronization.php
  src/Domain/Projection/ProjectionTypeRegistry.php
Labels: domain, infrastructure

#345 Move DomainMessageBus to root
  docs/ddd/message-bus.md
  src/Domain/DomainMessageBus.php
  src/Domain/Infrastructure/DependencyInjection/BundleHelper.php
  src/Domain/Infrastructure/DependencyInjection/Compiler/ResolveDomainPass.php
  src/Domain/Infrastructure/Messenger/DomainMessageBus.php
  src/Domain/Message/MessageDispatchingTrait.php
  src/Domain/Projection/Command/Handler/DeleteProjectionHandler.php
  src/Domain/Projection/Command/Handler/SaveProjectionHandler.php
  src/Domain/Tests/Message/MessageDispatchingTraitTest.php
  src/Eav/Command/Handler/CreateAttributeHandler.php
  src/Eav/Command/Handler/DeleteAttributeHandler.php
  src/User/Command/Handler/AddUserEmailHandler.php
  src/User/Command/Handler/AddUserRoleHandler.php
  src/User/Command/Handler/CancelUserPasswordRequestHandler.php
  src/User/Command/Handler/ChangeUserCredentialHandler.php
  src/User/Command/Handler/ConfirmUserEmailHandler.php
  src/User/Command/Handler/ConfirmUserHandler.php
  src/User/Command/Handler/CreateRoleHandler.php
  src/User/Command/Handler/CreateUserHandler.php
  src/User/Command/Handler/DeleteRoleHandler.php
  src/User/Command/Handler/DeleteUserEmailHandler.php
  src/User/Command/Handler/DeleteUserHandler.php
  src/User/Command/Handler/DeleteUserRoleHandler.php
  src/User/Command/Handler/DisableUserHandler.php
  src/User/Command/Handler/EnableUserHandler.php
  src/User/Command/Handler/RequestUserPasswordHandler.php
  src/User/Command/Handler/ResetUserPasswordHandler.php
  src/User/Infrastructure/Console/Command/AddUserRoleCommand.php
  src/User/Infrastructure/Console/Command/ChangeUserCredentialCommand.php
  src/User/Infrastructure/Console/Command/ConfirmUserCommand.php
  src/User/Infrastructure/Console/Command/CreateRoleCommand.php
  src/User/Infrastructure/Console/Command/CreateUserCommand.php
  src/User/Infrastructure/Console/Command/DeleteRoleCommand.php
  src/User/Infrastructure/Console/Command/DeleteUserCommand.php
  src/User/Infrastructure/Console/Command/DeleteUserRoleCommand.php
  src/User/Infrastructure/Console/Command/DisableUserCommand.php
  src/User/Infrastructure/Console/Command/EnableUserCommand.php
  src/User/Infrastructure/Console/Command/RoleCommand.php
  src/User/Infrastructure/Console/Command/UserCommand.php
  src/User/Infrastructure/Console/Command/UserRoleCommand.php
  src/User/Tests/Command/Handler/CreateUserHandlerTest.php
  src/UserEav/Command/Handler/AddUserAttributeValueHandler.php
  src/UserEav/Command/Handler/ChangeUserAttributeValueHandler.php
  src/UserEav/Command/Handler/DeleteUserAttributeValueHandler.php
Labels: domain

#346 Removed *Exception type suffix
  src/Domain/Exception/DuplicateEntity.php
  src/Domain/Exception/EmptyCollection.php
  src/Domain/Exception/EntityNotFound.php
  src/Domain/Exception/InvalidClass.php
  src/Domain/Exception/UnknownCollectionElement.php
  src/Domain/Factory/ClassMethodResolver.php
  src/Domain/Factory/GenericDomainObjectFactory.php
  src/Domain/GenericDomainCollection.php
  src/Domain/Infrastructure/Console/Definition/DoctrineContextDefinition.php
  src/Domain/Infrastructure/Doctrine/DomainCollection.php
  src/Domain/Infrastructure/Doctrine/DomainEntityRepositoryTrait.php
  src/Domain/Infrastructure/Doctrine/DomainObjectFactory.php
  src/Domain/Tests/DomainCollectionTestCase.php
  src/Domain/Tests/DomainEntityRepositoryTestCase.php
  src/Domain/Tests/Factory/ClassMethodResolverTest.php
  src/Domain/Tests/Factory/GenericDomainObjectFactoryTest.php
  src/Domain/Tests/GenericDomainCollectionTest.php
  src/Eav/Command/Handler/DeleteAttributeHandler.php
  src/User/Command/Handler/DeleteRoleHandler.php
  src/User/Command/Handler/DeleteUserEmailHandler.php
  src/User/Command/Handler/DeleteUserHandler.php
  src/User/Command/Handler/DeleteUserRoleHandler.php
  src/User/Infrastructure/Console/Command/AddUserRoleCommand.php
  src/User/Infrastructure/Form/Extension/UserExtension.php
  src/User/Infrastructure/Security/DataCollector.php
  src/User/Infrastructure/Security/Jwt/UserIdentityProvider.php
  src/User/Infrastructure/Security/UserIdentityProvider.php
  src/User/Tests/Infrastructure/Form/Extension/UserExtensionTest.php
  src/User/Tests/Infrastructure/Security/UserIdentityProviderTest.php
  src/UserEav/Command/Handler/DeleteUserAttributeValueHandler.php
Labels: domain

#350 Remove User/Password namespace
  src/User/Credential/PasswordProtectedCredential.php
  src/User/Credential/PasswordProtection.php
  src/User/Infrastructure/Form/Type/HashedPasswordType.php
  src/User/Infrastructure/Security/HashingFactory.php
  src/User/Infrastructure/Security/PasswordHashing.php
  src/User/Infrastructure/Security/UserIdentity.php
  src/User/Password/GenericPasswordHashing.php
  src/User/Password/PasswordAlgorithm.php
  src/User/Password/PasswordHashing.php
  src/User/Password/PasswordSalt.php
  src/User/Tests/Infrastructure/Form/Type/HashedPasswordTypeTest.php
  src/User/Tests/Infrastructure/Security/PasswordHashingTest.php
  src/User/Tests/Infrastructure/Security/UserIdentityProviderTest.php
  src/User/Tests/Infrastructure/Security/UserIdentityTest.php
  src/User/Tests/Password/GenericPasswordHashingTest.php
  src/User/Tests/Password/PasswordAlgorithmTest.php
  src/UserBundle/Maker/UserMaker.php
  src/UserBundle/Resources/config/security.php
  src/UserBundle/Resources/config/services.php
  src/UserBundle/Resources/skeleton/security.tpl.php
  src/UserBundle/Resources/skeleton/service/ClassContextElementFactory.tpl.php
Labels: bundle, infrastructure, user

#349 Update to symfony messenger 4.3 (fix deprecations)
  docs/cookbook/configuring-symfony-messenger.md
  src/Domain/Infrastructure/DependencyInjection/BundleHelper.php
  src/Domain/composer.json
  src/Eav/composer.json
Labels: bug, bundle, infrastructure
