Repository msgphp/msgphp, pull requests merged in 2019-08, with the labels that each got.

#353 Allow no-interaction option to generate the files
  src/UserBundle/Maker/UserMaker.php
Labels: bug, bundle, user

#355 Add make:user:msgphp --credential option
  src/UserBundle/Maker/UserMaker.php
Labels: bundle, feature, user

#356 Update configuring-symfony-messenger.md
  docs/cookbook/configuring-symfony-messenger.md
Labels: bug, docs

#361 Flatten generated structure
  src/UserBundle/Maker/UserMaker.php
Labels: user
